<!DOCTYPE html>
<html>
<head>
    <title>Complete Payment</title>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
</head>
<body>
    <h2>Complete your payment</h2>
    <button id="rzp-button">Pay ₹{{ amount|floatformat:2 }}</button>

    <script>
        var options = {
            "key": "{{ key_id }}",
            "amount": "{{ amount }}",
            "currency": "INR",
            "name": "GlowCare Skincare",
            "description": "Product Purchase",
            "handler": function (response){
                window.location.href = "/payment-success/?payment_id=" + response.razorpay_payment_id;
            },
            "prefill": {
                "name": "{{ user.username }}",
                "email": "{{ user.email }}"
            },
            "theme": {
                "color": "#F37254"
            }
        };
        var rzp = new Razorpay(options);
        document.getElementById('rzp-button').onclick = function(e){
            rzp.open();
            e.preventDefault();
        };
    </script>
</body>
</html>
